body {
    display: flex;
    justify-content: space-between;
    margin: 50px;
    height: 100vh;
}
.container {
    display: flex;
    width: 100%;
}
.left {
    width: 25%;
    padding: 10px;
    box-sizing: border-box;

}
.right {
    width: 40%;
    padding: 10px;
    box-sizing: border-box;

}
.center {
    width: 50%;
    box-sizing: border-box;
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: center;
    margin: 0 auto; /* Para centrar horizontalmente */
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
}