body {
    display: flex;
    justify-content: space-between;
    margin: 50px;
    height: 100vh;
}
.container {
    display: flex;
    width: 100%;
}
.left {
    width: 25%;
    padding: 10px;
    box-sizing: border-box;

}
.right {
    width: 30%;
    padding: 10px;
    box-sizing: border-box;

}
.center {
    width: 60%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Para centrar horizontalmente */
}